body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 31.25rem;
  margin: 3.125rem auto;
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 0.625rem;
  font-size: 1rem;
  color: #495057;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 0.625rem;
}

output {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  color: #6c757d;
  margin-bottom: 0.625rem;
}

.checkbox-group {
  margin-top: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-option {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
}

.checkbox-option input {
  margin-right: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}

button {
  margin-top: 1.25rem;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.password-result {
  margin-top: 1.25rem;
  text-align: center;
}

.password {
  display: block;
  margin-top: 0.625rem;
  font-size: 1.125rem;
  color: #28a745;
  padding: 1rem;
  border: 1px solid #0e0e10;
  word-break: break-all;
  white-space: pre-wrap;
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
